DATABASE_URL="postgresql://postgres:postgres@localhost:5432/custom_ecommerce?schema=public"
JWT_SECRET="replace-with-a-long-random-string"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_CURRENCY="LKR"
NEXT_PUBLIC_STORE_NAME="LuxeCart"
PAYHERE_MERCHANT_ID="1211143"
PAYHERE_MERCHANT_SECRET="replace-with-payhere-secret"
PAYHERE_SANDBOX="true"
PAYHERE_RETURN_URL="http://localhost:3000/api/payments/payhere/return"
PAYHERE_CANCEL_URL="http://localhost:3000/api/payments/payhere/cancel"
PAYHERE_NOTIFY_URL="http://localhost:3000/api/payments/payhere/notify"
